#page h1.page-title {
    margin: 8px 0 20px;
}

.title-and-tips {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.title-and-tips .page-tips {
    background: var(--junewind-yellow-op);
    color: var(--junewind-yellow);
    margin-bottom: auto;
    border-radius: 8px;
    padding: 2px 6px;
    font-size: .5rem;
    margin-left: 8px;
}

#bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    flex-direction: column
}

#bbtalk {
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#bber-talk .li-style {
    width: auto;
    max-width: 100%;
    height: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s;
    font-weight: 700;
    margin: auto;
    cursor: pointer;
    white-space: nowrap
}

#bber-talk ul,li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
}

#bbTimeList .li-style:hover {
    color: var(--junewind-theme);
    transition: .3s
}

li,ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
}

#bbTimeList {
    background: var(--junewind-none)!important;
    color: var(--junewind-fontcolor);
    padding: .5rem 1rem;
    border-radius: 12px;
    box-shadow: var(--junewind-shadow-lightblack);
    display: flex;
    transition: .3s;
    margin-bottom: 1rem;
    border: var(--style-border);
    align-items: center;
    height: 50px;
    margin-top: .2rem!important
}

#bbTimeList:hover {
    border: var(--style-border-hover);
    box-shadow: var(--junewind-shadow-main)
}

#bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (min-width: 1300px) {
    #bbTimeList {
        margin-bottom:1rem
    }
}

.bber-gotobb {
    line-height: 25px;
    margin-left: 1rem;
    transition: .3s;
    cursor: pointer
}

.bber-gotobb:hover {
    opacity: .8;
    color: var(--junewind-theme)
}

.icon-heidong {
    font-size: 1.5rem!important;
    line-height: 22px;
    margin-right: 1rem;
    transition: .3s;
    cursor: pointer
}

.icon-heidong:hover {
    opacity: .8;
    color: var(--junewind-theme)
}

#bber .timeline #waterfall {
    transition: .3s
}

#bber .timeline #waterfall.show {
    opacity: 1
}

#bber .timeline ul li.item {
    position: relative;
    width: 30%;
    border: var(--style-border-always);
    border-radius: 12px;
    padding: 1rem;
    padding-bottom: .5rem;
    transition: .3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--junewind-card-bg);
    box-shadow: var(--junewind-shadow-border);
    margin-right: 2%
}

@media screen and (max-width: 768px) {
    #bber .timeline ul li.item {
        padding:0
    }
}

#bber .timeline ul li.item:hover {
    border: var(--style-border-hover)
}

#bber ul.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

#bber li.item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start
}

@media screen and (max-width: 1300px) {
    #bber .timeline ul li.item {
        width: 30%;
        margin-right: 1%
    }
}

@media screen and (max-width: 768px) {
    #bber .timeline ul li.item {
        width:100%;
        margin-right: 0
    }

    #bber .timeline ul li.item {
        padding: 16px 20px
    }
}

.timeline ul .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.bb-info {
    display: inline;
    float: right;
    line-height: 1;
    color: var(--junewind-secondtext);
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: .5rem
}

.bb-info:hover {
    color: var(--junewind-hovertext)
}

#bber {
    margin-top: 1rem;
    width: 100%
}

#bber div.bber-content {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%
}

#bber>section>ul>li.item {
    margin-bottom: 1rem
}

#bber .bber-info {
    display: flex;
    align-items: center
}

#bber .bber-content-link {
    display: flex;
    margin-left: .5rem;
    color: var(--junewind-secondtext);
    font-size: .7rem;
    align-items: center
}

#bber .bber-content-link:hover {
    color: var(--junewind-lighttext)
}

#bber .bber-content-link i {
    margin-right: 3px
}

#bber .bber-reply {
    cursor: pointer;
    padding: 0 4px
}

#bber .bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%
}

#bber .count {
    color: var(--junewind-secondtext);
    font-size: .8rem
}

#bber p {
    margin: 0
}

#bber .datafrom i {
    margin-right: 4px
}

#bber .bber-music {
    width: 100%;
    height: 90px;
    margin: .5rem 0;
    border-radius: 8px;
    overflow: hidden;
    border: var(--style-border-always);
    background: var(--junewind-secondbg)
}

#bber .aplayer {
    margin: 0
}

#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    color: var(--junewind-fontcolor)
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px;
    width: 82px;
    margin: 4px;
    border-radius: 4px
}

#bber .aplayer .aplayer-info .aplayer-music {
    height: 23px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: var(--junewind-gray);
    height: 8px;
    border-radius: 12px;
    transition: .3s;
    overflow: hidden
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar {
    height: 12px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 12px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 12px
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none
}

#bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial
}

#bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 1rem
}

#bber .bber-content-img img {
    object-fit: cover;
    max-height: 100%;
    border-radius: 12px
}

#bber .bber-content-img {
    height: 100px;
    margin: auto;
    margin-top: .2rem;
    margin-bottom: .3rem;
    margin-left: 0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative
}

#bber>section>ul>li>div .datatime {
    color: var(--junewind-secondtext);
    font-size: .7rem
}

a:hover {
    color: var(--junewind-hovertext)
}

#bber .bber-content .datacont {
    order: 0;
    font-size: .9rem;
    font-weight: 700;
    color: var(--junewind-fontcolor);
    width: 100%;
    line-height: 1.38;
    border-radius: 12px;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    text-align: justify
}

#bber>section>ul>li>div .datafrom {
    order: 2;
    color: var(--junewind-secondtext);
    font-size: .7rem;
    margin-left: 8px
}

#bber>section>ul>li>div .datafrom small {
    font-size: .7rem
}


:root {
    --junewind-white: #fff;
    --junewind-white-op: rgba(255, 255, 255, 0.2);
    --junewind-black: #000;
    --junewind-black-op: rgba(0, 0, 0, 0.2);
    --junewind-none: #00000000;
    --junewind-gray: #999999;
    --junewind-vip: #e5a80d;
    --junewind-main: var(--junewind-theme);
    --junewind-main-op: var(--junewind-theme-op);
    --junewind-shadow-theme: 0 8px 12px -3px var(--junewind-theme-op);
    --junewind-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --junewind-shadow-main: 0 8px 12px -3px var(--junewind-main-op);
    --junewind-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --junewind-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --junewind-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --junewind-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --junewind-shadow-red: 0 8px 12px -3px #ee7d7936;
    --junewind-shadow-green: 0 8px 12px -3px #87ee7936;
    --junewind-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --junewind-snackbar-time: 5s;
    --style-border: 1px solid var(--junewind-card-border);
    --style-border-always: 1px solid var(--junewind-card-border);
    --style-border-hover: 1px solid var(--junewind-main);
    --style-border-hover-always: 1px solid var(--junewind-main);
    --style-border-dashed: 1px dashed var(--junewind-theme-op);
    --hover-border: 2px solid var(--junewind-theme);
    --border: 2px solid var(--junewind-card-border)
}

::selection {
    background: var(--junewind-fontcolor);
    color: var(--junewind-background)
}

[data-theme=light] {
    --junewind-theme: #425AEF;
    --junewind-theme-op: #4259ef23;
    --junewind-blue: #425AEF;
    --junewind-red: #D8213C;
    --junewind-pink: #FF7C7C;
    --junewind-green: #28a63f;
    --junewind-yellow: #c28b00;
    --junewind-yellow-op: #d99c001a;
    --junewind-orange: #e38100;
    --junewind-fontcolor: #363636;
    --junewind-background: #f7f9fe;
    --junewind-reverse: #000;
    --junewind-maskbg: rgba(255, 255, 255, 0.6);
    --junewind-maskbgdeep: rgba(255, 255, 255, 0.85);
    --junewind-hovertext: var(--junewind-main);
    --junewind-ahoverbg: #F7F7FA;
    --junewind-lighttext: var(--junewind-main);
    --junewind-secondtext: rgba(60, 60, 67, 0.6);
    --junewind-scrollbar: rgba(60, 60, 67, 0.4);
    --junewind-card-btn-bg: #edf0f7;
    --junewind-post-blockquote-bg: #fafcff;
    --junewind-post-tabs-bg: #f2f5f8;
    --junewind-secondbg: #f1f3f8;
    --junewind-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --junewind-card-bg: #fff;
    --junewind-card-bg-op: var(--junewind-black-op);
    --junewind-card-bg-none: rgba(255, 255, 255, 0);
    --junewind-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --junewind-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --junewind-card-border: #e3e8f7;
    --junewind-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border-forever: 2px solid var(--junewind-main);
    --junewind-sun-moon: #ff7242
}

[data-theme=dark] {
    --junewind-theme: #0084FF;
    --junewind-theme-op: #0084FF23;
    --junewind-blue: #0084FF;
    --junewind-red: #FF3842;
    --junewind-pink: #FF7C7C;
    --junewind-green: #57bd6a;
    --junewind-yellow: #ffc93e;
    --junewind-yellow-op: #ffc93e30;
    --junewind-orange: #ff953e;
    --junewind-fontcolor: #F7F7FA;
    --junewind-background: #18171d;
    --junewind-reverse: #fff;
    --junewind-maskbg: rgba(0, 0, 0, 0.6);
    --junewind-maskbgdeep: rgba(0, 0, 0, 0.85);
    --junewind-hovertext: #0A84FF;
    --junewind-ahoverbg: #fff;
    --junewind-lighttext: #f2b94b;
    --junewind-secondtext: #a1a2b8;
    --junewind-scrollbar: rgba(200, 200, 223, 0.4);
    --junewind-card-btn-bg: #30343f;
    --junewind-post-blockquote-bg: #000;
    --junewind-post-tabs-bg: #121212;
    --junewind-secondbg: #30343f;
    --junewind-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --junewind-card-bg: #1d1b26;
    --junewind-card-bg-op: var(--junewind-white-op);
    --junewind-card-bg-none: #1d1b2600;
    --junewind-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --junewind-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --junewind-card-border: #42444a;
    --junewind-shadow-border: 0 8px 16px -4px #00000050;
    --style-border-forever: 2px solid var(--junewind-lighttext);
    --junewind-sun-moon: var(--junewind-yellow)
}