

/* 自定义twikoo评论输入框高度 */
.tk-input[data-v-619b4c52] .el-textarea__inner {
    height: 130px !important;
    background-image: url("https://npm.elemecdn.com/akilar-candyassets/image/zhifeiji.gif");
  }
  /* 输入评论时自动隐藏输入框背景图片 */
  .tk-input[data-v-619b4c52] .el-textarea__inner:focus {
    background-image: none !important;
  }
  /* 调整楼中楼样式 ，整体左移，贴合气泡化效果 */
  .tk-replies {
    left: -70px;
    width: calc(100% + 70px);
  }
  /* 头像宽度调整 rem单位与全局字体大小挂钩，需配合自己情况调整大小以保证头像显示完整*/
  .tk-replies .tk-avatar {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .tk-replies .tk-avatar img {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  /* 回复框左移，避免窄屏时出框 */
  .tk-comments-container .tk-submit {
    position: relative;
    left: -70px;
  }
  /* 评论块气泡化修改 */
  .tk-content {
    background: #00a6ff; /*默认模式访客气泡配色*/
    padding: 10px;
    color: #fff; /*默认模式访客气泡字体配色*/
    border-radius: 10px;
    font-size: 16px !important;
    width: fit-content;
    max-width: 100%;
    position: relative !important;
    overflow: visible !important;
    max-height: none !important;
  }
  /* 修复图片出框 */
  .tk-content img {
    max-width: 100% !important;
  }
  /* 修复过长文本出框 */
  .tk-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .tk-content a {
    color: #eeecaa; /*默认模式超链接配色*/
  }
  .tk-content::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: -13px;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #00a6ff; /*默认模式访客气泡小三角配色*/
    border-left: 0px solid transparent;
  }
  .tk-master .tk-content {
    background: #ff8080; /*默认模式博主气泡配色*/
    color: #fff; /*默认模式博主气泡字体配色*/
    width: fit-content;
    max-width: 100%;
  }
  .tk-master .tk-content a {
    color: #eeecaa;
  }
  .tk-master .tk-content::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: -13px;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #ff8080; /*默认模式博主气泡小三角配色*/
    border-left: 0px solid transparent;
  }
  .tk-row[data-v-d82ce9a0] {
    max-width: 100%;
    width: fit-content;
  }
  .tk-avatar {
    border-radius: 50%;
    margin-top: 10px;
  }
  
  /* 夜间模式配色，具体比照上方默认模式class */
  [data-theme="dark"] .tk-content {
    background: #000;
    color: #fff;
  }
  [data-theme="dark"] .tk-content a {
    color: #dfa036;
  }
  [data-theme="dark"] .tk-content::before {
    border-right: 15px solid #000;
  }
  [data-theme="dark"] .tk-master .tk-content {
    background: #000;
    color: #fff;
  }
  [data-theme="dark"] .tk-master .tk-content a {
    color: #dfa036;
  }
  [data-theme="dark"] .tk-master .tk-content::before {
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #000;
    border-left: 0px solid transparent;
  }
  /* 自适应内容 */
  @media screen and (min-width: 1024px) {
    /* 设置宽度上限，避免挤压博主头像 */
    .tk-content {
        max-width: 75%;
        width: fit-content;
    }
    .tk-master .tk-content {
        width: 75%;
    }
    .tk-master .tk-content::before {
        left: 100%;
        border-left: 15px solid #ff8080;
        border-right: 0px solid transparent;
    }
    .tk-master .tk-avatar {
        position: relative;
        left: calc(75% + 70px);
    }
    .tk-master .tk-row[data-v-d82ce9a0] {
        position: relative;
        top: 0px;
        left: calc(75% - 230px);
    }
    [data-theme="dark"] .tk-master .tk-content::before {
        border-left: 15px solid #000;
        border-right: 0px solid transparent;
    }
  }
  /* 设备名称常态隐藏，悬停评论时显示 */
  .tk-extras {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  .tk-content:hover + .tk-extras {
    -webkit-animation: tk-extras-fadeIn 0.5s linear;
    -moz-animation: tk-extras-fadeIn 0.5s linear;
    -o-animation: tk-extras-fadeIn 0.5s linear;
    -ms-animation: tk-extras-fadeIn 0.5s linear;
    animation: tk-extras-fadeIn 0.5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-moz-keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
  }
  @-webkit-keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
  }
  @-o-keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
  }
  @keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
  }
  
  
  
  
  
  
  
  /* iziToast 弹窗阴影优化 */
  .iziToast:after {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
  }
  .iziToast-message.slideIn {
    margin-top: 5px !important;
  }
  
  
  /* 网站资讯 CSS */
  .webinfo {
    font-size: 15px;
    line-height: 1.6em;
  }
  
  #aside-content {
    width: 26%;
  }
  #aside-content .item-headline {
    padding-bottom: 0px !important;
  }
  #aside-content .card-widget {
    margin-top: 16px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #hexo_electric_clock {
    padding: 11px;
  }
  .card-background {
    height: 133px;
    margin: 14px;
  }
  .card-widget.card-history.wow.animate__zoomIn {
    height: 160px;
  }
  
  .layout>div:first-child {
    width: calc(100% - 300px);
  }
  
  #pagination .page-number.current {
    background: #425aef;
    color: var(--white);
  }
  
  #recent-posts>.recent-post-item {
    display: inline-block;
    width: 49%;
  }
  
  .page .layout, .post .layout {
    max-width: 1450px;
  }
  
  
  
  
  
  
  
  #page h1.page-title {
    margin: 8px 0 20px;
  }
  
  .title-and-tips {
    display: flex;
    margin-top: 1rem;
    align-items: center;
  }
  
  .title-and-tips .page-tips {
    background: var(--Jay-yellow-op);
    color: var(--Jay-yellow);
    margin-bottom: auto;
    border-radius: 8px;
    padding: 2px 6px;
    font-size: .5rem;
    margin-left: 8px;
  }
  
  #bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    flex-direction: column
  }
  
  #bbtalk {
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  
  #bber-talk .li-style {
    width: auto;
    max-width: 100%;
    height: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s;
    font-weight: 700;
    margin: auto;
    cursor: pointer;
    white-space: nowrap
  }
  
  #bber-talk ul,li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
  }
  
  #bbTimeList .li-style:hover {
    color: var(--Jay-theme);
    transition: .3s
  }
  
  li,ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
  }
  
  #bbTimeList {
    background: var(--Jay-none)!important;
    color: var(--Jay-fontcolor);
    padding: .5rem 1rem;
    border-radius: 12px;
    box-shadow: var(--Jay-shadow-lightblack);
    display: flex;
    transition: .3s;
    margin-bottom: 1rem;
    border: var(--style-border);
    align-items: center;
    height: 50px;
    margin-top: .2rem!important
  }
  
  #bbTimeList:hover {
    border: var(--style-border-hover);
    box-shadow: var(--Jay-shadow-main)
  }
  
  #bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  @media screen and (min-width: 1300px) {
    #bbTimeList {
        margin-bottom:1rem
    }
  }
  
  .bber-gotobb {
    line-height: 25px;
    margin-left: 1rem;
    transition: .3s;
    cursor: pointer
  }
  
  .bber-gotobb:hover {
    opacity: .8;
    color: var(--Jay-theme)
  }
  
  .icon-heidong {
    font-size: 1.5rem!important;
    line-height: 22px;
    margin-right: 1rem;
    transition: .3s;
    cursor: pointer
  }
  
  .icon-heidong:hover {
    opacity: .8;
    color: var(--Jay-theme)
  }
  
  #bber .timeline #waterfall {
    transition: .3s
  }
  
  #bber .timeline #waterfall.show {
    opacity: 1
  }
  
  #bber .timeline ul li.item {
    position: relative;
    width: 30%;
    border: var(--style-border-always);
    border-radius: 12px;
    padding: 1rem;
    padding-bottom: .5rem;
    transition: .3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--Jay-card-bg);
    box-shadow: var(--Jay-shadow-border);
    margin-right: 2%
  }
  
  @media screen and (max-width: 768px) {
    #bber .timeline ul li.item {
        padding:0
    }
  }
  
  #bber .timeline ul li.item:hover {
    border: var(--style-border-hover)
  }
  
  #bber ul.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
  }
  
  #bber li.item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start
  }
  
  @media screen and (max-width: 1300px) {
    #bber .timeline ul li.item {
        width: 30%;
        margin-right: 1%
    }
  }
  
  @media screen and (max-width: 768px) {
    #bber .timeline ul li.item {
        width:100%;
        margin-right: 0
    }
  
    #bber .timeline ul li.item {
        padding: 16px 20px
    }
  }
  
  .timeline ul .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
  }
  
  .bb-info {
    display: inline;
    float: right;
    line-height: 1;
    color: var(--Jay-secondtext);
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: .5rem
  }
  
  .bb-info:hover {
    color: var(--Jay-hovertext)
  }
  
  #bber {
    margin-top: 1rem;
    width: 100%
  }
  
  #bber div.bber-content {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%
  }
  
  #bber>section>ul>li.item {
    margin-bottom: 1rem
  }
  
  #bber .bber-info {
    display: flex;
    align-items: center
  }
  
  #bber .bber-content-link {
    display: flex;
    margin-left: .5rem;
    color: var(--Jay-secondtext);
    font-size: .7rem;
    align-items: center
  }
  
  #bber .bber-content-link:hover {
    color: var(--Jay-lighttext)
  }
  
  #bber .bber-content-link i {
    margin-right: 3px
  }
  
  #bber .bber-reply {
    cursor: pointer;
    padding: 0 4px
  }
  
  #bber .bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%
  }
  
  #bber .count {
    color: var(--Jay-secondtext);
    font-size: .8rem
  }
  
  #bber p {
    margin: 0
  }
  
  #bber .datafrom i {
    margin-right: 4px
  }
  
  #bber .bber-music {
    width: 100%;
    height: 90px;
    margin: .5rem 0;
    border-radius: 8px;
    overflow: hidden;
    border: var(--style-border-always);
    background: var(--Jay-secondbg)
  }
  
  #bber .aplayer {
    margin: 0
  }
  
  #bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    color: var(--Jay-fontcolor)
  }
  
  #bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px;
    width: 82px;
    margin: 4px;
    border-radius: 4px
  }
  
  #bber .aplayer .aplayer-info .aplayer-music {
    height: 23px
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: var(--Jay-gray);
    height: 8px;
    border-radius: 12px;
    transition: .3s;
    overflow: hidden
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar {
    height: 12px
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 12px
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 12px
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial
  }
  
  #bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 1rem
  }
  
  #bber .bber-content-img img {
    object-fit: cover;
    max-height: 100%;
    border-radius: 12px
  }
  
  #bber .bber-content-img {
    height: 100px;
    margin: auto;
    margin-top: .2rem;
    margin-bottom: .3rem;
    margin-left: 0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative
  }
  
  #bber>section>ul>li>div .datatime {
    color: var(--Jay-secondtext);
    font-size: .7rem
  }
  
  a:hover {
    color: var(--Jay-hovertext)
  }
  
  #bber .bber-content .datacont {
    order: 0;
    font-size: .9rem;
    font-weight: 700;
    color: var(--Jay-fontcolor);
    width: 100%;
    line-height: 1.38;
    border-radius: 12px;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    text-align: justify
  }
  
  #bber>section>ul>li>div .datafrom {
    order: 2;
    color: var(--Jay-secondtext);
    font-size: .7rem;
    margin-left: 8px
  }
  
  #bber>section>ul>li>div .datafrom small {
    font-size: .7rem
  }
  
  
  :root {
      --Jay-white: #fff;
      --Jay-white-op: rgba(255, 255, 255, 0.2);
      --Jay-black: #000;
      --Jay-black-op: rgba(0, 0, 0, 0.2);
      --Jay-none: #00000000;
      --Jay-gray: #999999;
      --Jay-vip: #e5a80d;
      --Jay-main: var(--Jay-theme);
      --Jay-main-op: var(--Jay-theme-op);
      --Jay-shadow-theme: 0 8px 12px -3px var(--Jay-theme-op);
      --Jay-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
      --Jay-shadow-main: 0 8px 12px -3px var(--Jay-main-op);
      --Jay-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
      --Jay-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
      --Jay-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
      --Jay-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
      --Jay-shadow-red: 0 8px 12px -3px #ee7d7936;
      --Jay-shadow-green: 0 8px 12px -3px #87ee7936;
      --Jay-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
      --Jay-snackbar-time: 5s;
      --style-border: 1px solid var(--Jay-card-border);
      --style-border-always: 1px solid var(--Jay-card-border);
      --style-border-hover: 1px solid var(--Jay-main);
      --style-border-hover-always: 1px solid var(--Jay-main);
      --style-border-dashed: 1px dashed var(--Jay-theme-op);
      --hover-border: 2px solid var(--Jay-theme);
      --border: 2px solid var(--Jay-card-border)
  }
  
  ::selection {
      background: var(--Jay-fontcolor);
      color: var(--Jay-background)
  }
  
  [data-theme=light] {
      --Jay-theme: #425AEF;
      --Jay-theme-op: #4259ef23;
      --Jay-blue: #425AEF;
      --Jay-red: #D8213C;
      --Jay-pink: #FF7C7C;
      --Jay-green: #28a63f;
      --Jay-yellow: #c28b00;
      --Jay-yellow-op: #d99c001a;
      --Jay-orange: #e38100;
      --Jay-fontcolor: #363636;
      --Jay-background: #f7f9fe;
      --Jay-reverse: #000;
      --Jay-maskbg: rgba(255, 255, 255, 0.6);
      --Jay-maskbgdeep: rgba(255, 255, 255, 0.85);
      --Jay-hovertext: var(--Jay-main);
      --Jay-ahoverbg: #F7F7FA;
      --Jay-lighttext: var(--Jay-main);
      --Jay-secondtext: rgba(60, 60, 67, 0.6);
      --Jay-scrollbar: rgba(60, 60, 67, 0.4);
      --Jay-card-btn-bg: #edf0f7;
      --Jay-post-blockquote-bg: #fafcff;
      --Jay-post-tabs-bg: #f2f5f8;
      --Jay-secondbg: #f1f3f8;
      --Jay-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
      --Jay-card-bg: #fff;
      --Jay-card-bg-op: var(--Jay-black-op);
      --Jay-card-bg-none: rgba(255, 255, 255, 0);
      --Jay-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
      --Jay-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
      --Jay-card-border: #e3e8f7;
      --Jay-shadow-border: 0 8px 16px -4px #2c2d300c;
      --style-border-forever: 2px solid var(--Jay-main);
      --Jay-sun-moon: #ff7242
  }
  
  [data-theme=dark] {
      --Jay-theme: #0084FF;
      --Jay-theme-op: #0084FF23;
      --Jay-blue: #0084FF;
      --Jay-red: #FF3842;
      --Jay-pink: #FF7C7C;
      --Jay-green: #57bd6a;
      --Jay-yellow: #ffc93e;
      --Jay-yellow-op: #ffc93e30;
      --Jay-orange: #ff953e;
      --Jay-fontcolor: #F7F7FA;
      --Jay-background: #18171d;
      --Jay-reverse: #fff;
      --Jay-maskbg: rgba(0, 0, 0, 0.6);
      --Jay-maskbgdeep: rgba(0, 0, 0, 0.85);
      --Jay-hovertext: #0A84FF;
      --Jay-ahoverbg: #fff;
      --Jay-lighttext: #f2b94b;
      --Jay-secondtext: #a1a2b8;
      --Jay-scrollbar: rgba(200, 200, 223, 0.4);
      --Jay-card-btn-bg: #30343f;
      --Jay-post-blockquote-bg: #000;
      --Jay-post-tabs-bg: #121212;
      --Jay-secondbg: #30343f;
      --Jay-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
      --Jay-card-bg: #1d1b26;
      --Jay-card-bg-op: var(--Jay-white-op);
      --Jay-card-bg-none: #1d1b2600;
      --Jay-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
      --Jay-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
      --Jay-card-border: #42444a;
      --Jay-shadow-border: 0 8px 16px -4px #00000050;
      --style-border-forever: 2px solid var(--Jay-lighttext);
      --Jay-sun-moon: var(--Jay-yellow)
  }
  